<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokenizer.tokenizer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_pic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogIntoFacebook"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings Activity"
            android:parentActivityName=".LogIntoFacebook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogIntoFacebook" />
        </activity>

        <activity
            android:name=".GenerateQR"
            android:label="QR Generator"
            android:parentActivityName=".LogIntoFacebook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogIntoFacebook" />
        </activity>

        <activity
            android:name=".AboutPage"
            android:label="About Page"
            android:parentActivityName=".LogIntoFacebook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogIntoFacebook" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Main Page"
            android:parentActivityName=".LogIntoFacebook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogIntoFacebook" />
        </activity>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>